<section class="individual-user-page">
  <h1>User details</h1>
  <div class="user-container">
    <img src=<%=@user.photo %> alt="user photo">
    <div class="user-info">
      <h1><%= @user.name %></h1>
      <h3 id="post-counter">Number of posts: <%= @user.posts_counter %></h3>
    </div>
  </div>

  <div class="user-bio">
    <h2>Bio</h2>
    <p>
      <%= @user.bio %>
    </p>
  </div>

  <div class="recent-posts">
    <% @user.most_recent_3_posts.each do |post| %>
    <div class="post-show">
      <a href="<%=@user.id%>/posts/<%=post.id%>">
        <h2><%= post.title %></h2>
        <p id="post-text">
          <%= post.text %>
        </p>
        <div class="comments-likes">
          <span class="comments">Comments: <%= post.comments_counter%>, </span>
          <span class="likes">Likes:<%= post.likes_counter%></span>
        </div>
      </a>
    </div>
    <% end %>
    <a href="<%=@user.id%>/posts/" class="button">See all posts</a>
  </div>
</section>
