<section class="posts-index-page">
  <h1>List of posts for user</h1>
  <div class="user-container">
    <img src=<%=@user.photo %> alt="user photo">
    <div class="user-info">
      <h1><%= @user.name %></h1>
      <h3 id="post-counter">Number of posts: <%= @user.posts_counter %></h3>
    </div>
  </div>

  <div class="recent-posts">
    <% @user.posts.each do |post| %>
    <div class="post-show">
      <%= link_to  user_post_path(@user, post.id) do %>
        <h2><%= post.title %></h2>
        <p id="post-text">
          <%= post.text %>
        </p>
    
        <div class="comment-like">
          <span>Comments: <%= post.comments_counter%>, </span>
          <span class="likes">Likes:<%= post.likes_counter%></span>
        </div>
      <% end %>
      
      </div>
      <div class="comments-container">
        <% @comments=post.most_recent_comments.includes(:author) %>
        <% @comments.each do |comment| %>
          <div  id="single-comment"> 
            <span> <%= comment.author.name %> : <%= comment.text %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
